{{ define "main" }}
    <h1 class="page-title">{{ .Title }}</h1>
    <ul class="posts">
      {{ range .Data.Pages -}}
      <li>
          <a class="post-title u-url" href="{{ .RelPermalink }}">{{ .Title }}</a>
          <time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z" }}">{{ .Date.Format "Monday, 2 January 2006" }}</time>
      </li>
      {{ end -}}
    </ul>
{{- end }}
