{{ define "main" -}}
  <article class="post h-entry">
    <header>
      <a class="u-url" href="{{ .Permalink | replaceRE "/$" "" }}">
        <h1 class="post-title p-name">{{ .Title }}</h1>
      </a>
      <time class="post-date dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05Z" }}">{{ .Date.Format "Monday, 2 January 2006" }}</time>
    </header>
    <main class="post-content e-content">
      {{ .Content }}
    </main>
    <footer class="footer">
      {{- if .Params.categories }}
      <span>
        Category:
        {{- range .Params.categories }}
        <a class="p-category" href="/categories/{{ . | lower | urlize }}/">{{ . }}</a>
        {{- end }}
      </span>
      {{- end }}
      {{- if .Params.tags }}
      <p>
        Tags:
        {{- range .Params.tags }}
        <a class="p-category" href="/tags/{{ . | urlize }}/">{{ . }}</a>
        {{- end }}
      </p>
      {{- end }}
    </footer>
  </article>
  {{- if .Site.DisqusShortname }}
  <h2>Comments</h2>
  {{ template "_internal/disqus.html" . }}
  {{- end }}
{{- end }}
