<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <link href="//gmpg.org/xfn/11" rel="profile">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    {{- if .IsHome }}
    <title>{{ .Site.Title }}</title>
    {{ else }}
    <title>{{ .Title }} &middot; {{ .Site.Title }}</title>
    {{ end -}}

    <link rel="stylesheet" href="/css/print.css" media="print">
    <link rel="stylesheet" href="/css/poole.css">
    {{- if .IsPage }}
    <link rel="stylesheet" href="/css/syntax.css">
    {{ else }}
    <link rel="prefetch" href="/css/syntax.css">
    {{- end }}
    <link rel="stylesheet" href="/css/hyde.css">
    {{ range .AlternativeOutputFormats -}}
      {{ printf `<link href="%s" rel="%s" type="%s" title="%s" />` .Permalink .Rel .MediaType.Type $.Site.Title | safeHTML }}
    {{ end -}}
    {{ partial "hook_head_end.html" . }}
  </head>
