  <aside class="sidebar container">
    <header class="sidebar-about h-card vcard p-author">
      {{ if (isset .Site.Author "image") -}}
      <a class="u-url u-uid" rel="me" href="{{ .Site.BaseURL }}">
        <img class="u-photo" src="{{ .Site.Author.image }}" width=128 height=128 />
      </a>
      {{ end -}}

      {{ if eq .Title .Site.Title -}}
      <h1 class="site-title u-name fn">{{ .Site.Title }}</h1>
      {{ else -}}
      <span class="site-title u-name fn">{{ .Site.Title }}</span>
      {{ end -}}

      <p class="lead p-note">
        {{ with .Site.Params.Description }} {{.}} {{ else }}An elegant open source and mobile first theme for <a href="http://hugo.spf13.com">hugo</a> made by <a href="http://twitter.com/mdo">@mdo</a>. Originally made for Jekyll.{{end}}
      </p>
    </header>

    <nav>
      <ul class="sidebar-nav">
        <li><a href="{{ .Site.BaseURL }}">Home</a> </li>
        {{ range .Site.Menus.main -}}
          <li><a href="{{.URL}}"> {{ .Name }} </a></li>
        {{- end }}
      </ul>
    </nav>

    <footer>
        Licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
    </footer>
  </aside>
